.stream-list {
  max-width: 100%;
  overflow-y: auto;
  height: 300px; /* Ajuste conforme necessário */
}

.stream-list ul {
  padding: 0;
  list-style: none;
}

.stream-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.stream-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .stream-logo {
    width: 30px;
  }

  .stream-list {
    height: 200px;
  }
}