.video-player {
  width: 600px;
  max-width: 80%; /* Para garantir responsividade */
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-player video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}

.video-player p {
  color: #fff;
  text-align: center;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
}