
/* src/components/VideoPlayer.css */
.video-player {
    flex: 1;
    background-color: #000;
    border-radius: 8px;
    overflow: hidden;
    max-width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-player video {
    border-radius: 8px;
  }
  
  .video-player p {
    color: #fff;
    padding: 20px;
  }
  video-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  video {
    width: 100%; /* Ocupa toda a largura disponível */
    max-height: 60vh; /* Limita a altura para 60% da tela */
    object-fit: contain; /* Mantém proporções corretas */
  }